.background-header{
    background-image: url("https://images.hdqwalls.com/wallpapers/rocket-minimal-4k-ws.jpg");
    background-size: cover;
    background-attachment: static;
    min-height: 90vh;
}